@media only screen and (min-width: 600px){
  .index {
    .header {
      height: 65px;
      text-transform: uppercase;
      p{
        padding: 3%;
        float: left;
        color: $aliceBlue;
      }
      ul {
        display: flex;
        padding-top: 3%;
      }
      li {
        float: right;
        margin-left: 5%;
        font-size: small;
        color: $aliceBlue;
      }
      li:hover {
        color: $steelblue;
        cursor: pointer;
      }
    }
  }
}
@media only screen and (min-width: 900px) {
  .index {
    .header {
      p{
        margin-right: 25%;
      }
      li:hover {
        color: $steelblue;
        cursor: pointer;
      }
    }
      .splitAside {
        display: flex;
        width: 100%;
      }
      .weekContent {
        width: 35%;
      }
    .weeklyPost {
      padding-right: 20%;
      line-height: 2;
    }
    .categories {
      width: 100%;
      border-top: none;
      border-left: 2px solid $interstateBlue;
      height: 100%;
      p {
          margin: 0% 0% 20% 5%;
      }
      li {
        margin: 0% 0% 0% 15%;
        line-height: 2;
      }
    }

  }
}
