.pageOne {
  background-color: $aliceBlue;
  .header{
    height: 20%;
    background-color: $interstateBlue;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .selfie {
    border-radius: 10%;
    width: 20%;
    height: 30%;
  }
  .aboutAuthor {
    @extend .playFairR;
    font-style: italic;
  }
  .name {
    @extend .playFairBI;
  }
  .categories {
    border-top: 2px solid $interstateBlue;
    width: 80%;
    margin: 5%;
    p {
      @extend .arimoR;
      color: $steelblue;
      margin-top: 5%;
    }
    li {
      @extend .arimoR;
      margin: 5%;
      color: $midnightBlue;
    }
  }
  footer {
    @extend .arimoR;
    ul {
      display: flex;
      word-spacing: 2;
    }
    li {
      font-size: small;
      margin: 0% 5% 1% 3%;
    }
  }
}
