$aliceBlue: #F0F8FF;
$interstateBlue: #2F5C7C;
$steelblue: #4682b4;
$midnightBlue: #191970;
.playFairR {
  font-family:'Playfair Display', serif;
}
.playFairBI {
  font-family:'Playfair Display', serif;
  font-weight: 900;
  font-style: italic;
}
.arimoR {
  font-family: 'Arimo', sans-serif;
}
