.playFairR, .pageOne .aboutAuthor {
  font-family: 'Playfair Display', serif; }

.playFairBI, .pageOne .name {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-style: italic; }

.arimoR, .index .date, .index .weekTitle, .index .categories p, .index .categories li, .index footer {
  font-family: 'Arimo', sans-serif; }

.index {
  background-color: #F0F8FF; }
  .index .header {
    height: 20%;
    background-color: #2F5C7C; }
  .index .weekContent {
    margin: 5%; }
  .index .date {
    font-style: italic;
    color: #4682b4;
    margin-top: 5%; }
  .index .weekTitle {
    color: #191970;
    margin: 5% 0 5% 0; }
  .index .weeklyPost {
    letter-spacing: 1px; }
  .index .categories {
    border-top: 2px solid #2F5C7C;
    width: 80%;
    margin: 5%; }
    .index .categories p {
      color: #4682b4;
      margin-top: 5%; }
    .index .categories li {
      margin: 5%;
      color: #191970; }
  .index footer ul {
    display: flex;
    word-spacing: 2; }
  .index footer li {
    font-size: small;
    margin: 0% 5% 1% 3%; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media only screen and (min-width: 600px) {
  .index .header {
    height: 65px;
    text-transform: uppercase; }
    .index .header p {
      padding: 3%;
      float: left;
      color: #F0F8FF; }
    .index .header ul {
      display: flex;
      padding-top: 3%; }
    .index .header li {
      float: right;
      margin-left: 5%;
      font-size: small;
      color: #F0F8FF; }
    .index .header li:hover {
      color: #4682b4;
      cursor: pointer; } }
@media only screen and (min-width: 900px) {
  .index .header p {
    margin-right: 25%; }
  .index .header li:hover {
    color: #4682b4;
    cursor: pointer; }
  .index .splitAside {
    display: flex;
    width: 100%; }
  .index .weekContent {
    width: 65%; }
  .index .weeklyPost {
    padding-right: 20%;
    line-height: 2; }
  .index .categories {
    width: 100%;
    border-top: none;
    border-left: 2px solid #2F5C7C;
    height: 100%; }
    .index .categories p {
      margin: 0% 0% 20% 5%; }
    .index .categories li {
      margin: 0% 0% 0% 15%;
      line-height: 2; } }
.pageOne {
  background-color: #F0F8FF; }
  .pageOne .header {
    height: 20%;
    background-color: #2F5C7C; }
  .pageOne .selfie {
    border-radius: 10%;
    width: 60px;
    height: 100px; }
  .pageOne .aboutAuthor {
    font-style: italic; }

/*# sourceMappingURL=style.css.map */
